dashboard/node_red_data/node_modules/flows.json
[
    {
        "id": "dc61edd82cbd36ae",
        "type": "tab",
        "label": "IOTBDA dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ee04f4da2cc97789",
        "type": "mqtt-broker",
        "name": "DIAN",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "99f18238cbb5331a",
        "type": "ui_group",
        "name": "DIAN",
        "tab": "86d8fb9123f3889f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "86d8fb9123f3889f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c683d5433412c7da",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "21a89318e4c7fbd6",
        "type": "mqtt-broker",
        "name": "local-mqtt",
        "broker": "mosquitto_container",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "833ca1a9f96d4613",
        "type": "mqtt in",
        "z": "dc61edd82cbd36ae",
        "name": "",
        "topic": "my-mqtt-topic-ish",
        "qos": "1",
        "datatype": "auto",
        "broker": "ee04f4da2cc97789",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 140,
        "wires": [
            [
                "93ca3646309a855f",
                "04742ab62d5d0578"
            ]
        ]
    },
    {
        "id": "b3163f3a53e01034",
        "type": "ui_text",
        "z": "dc61edd82cbd36ae",
        "group": "99f18238cbb5331a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Gauge Label",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "93ca3646309a855f",
        "type": "ui_gauge",
        "z": "dc61edd82cbd36ae",
        "name": "",
        "group": "99f18238cbb5331a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "2",
        "colors": [
            "#07a9df",
            "#19c22d",
            "#fb3737"
        ],
        "seg1": "semi-cold",
        "seg2": "semi-hot",
        "className": "",
        "x": 480,
        "y": 220,
        "wires": []
    },
    {
        "id": "04742ab62d5d0578",
        "type": "function",
        "z": "dc61edd82cbd36ae",
        "name": "",
        "func": "msgval = msg[\"payload\"]\n\nif (msgval == \"0\") {\n    return { payload: \"cool\"};\n} else if (msgval == \"1\") {\n    return { payload: \"normal\"};\n} else {\n    return { payload: \"hot\"};\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 140,
        "wires": [
            [
                "b3163f3a53e01034"
            ]
        ]
    }
]